<!DOCTYPE html>
<html>
<head lang="uk">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Курсова робота з ГКС5 </title>
    <meta name="description" content="Лабораторна робота з ГКС4 №1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='../../resources/styles/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../../resources/styles/main.css' rel='stylesheet' type='text/css'>
    <link href='../../resources/styles/gantt_chart.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="mount-point" class="wrapper">
    <header class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <h1 class="text-center header__heading"> Курсова робота з ГКС5 </h1>
        </div>
    </header>

    <main class="container-fluid main-block">
        <div class="input-column">
            <div class="input-block">
<!--
                <form id="initial-data-form">
                    <div class="inp-num-of-vars">
                        <div class="form-group">
                            <label for="select-num-x" class="control-label inp-num-of-vars__label">
                                <strong>Кількість змінних:</strong>
                            </label>
                            <select id="select-num-x" class="form-control inp-num-of-vars__select">
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select-num-restrictions" class="control-label inp-num-of-vars__label">
                                <strong>Кількість обмежень:</strong>
                            </label>
                            <select id="select-num-restrictions" class="form-control inp-num-of-vars__select">
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group inp-matrix">
                        <strong>Введіть значення матриці:</strong>
                        <div class="table-responsive inp-matrix__table-wrapper">
                            <table class="table inp-matrix__table">
                                <tbody>
                                <tr class="inp-matrix__row">
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A11">
                                        <span class="inp-matrix__text"> •X<sub>1</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A12">
                                        <span class="inp-matrix__text"> •X<sub>2</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <select class="inp-block__select inp-matrix__select">
                                            <option value="above"> ≥ </option>
                                            <option value="below" selected> ≤ </option>
                                        </select>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="B1">
                                    </td>
                                </tr>
                                <tr class="inp-matrix__row">
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A11">
                                        <span class="inp-matrix__text"> •X<sub>1</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A12">
                                        <span class="inp-matrix__text"> •X<sub>2</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <select class="inp-block__select inp-matrix__select">
                                            <option value="above"> ≥ </option>
                                            <option value="below" selected> ≤ </option>
                                        </select>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="B1">
                                    </td>
                                </tr>
                                <tr class="inp-matrix__row">
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A11">
                                        <span class="inp-matrix__text"> •X<sub>1</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="A12">
                                        <span class="inp-matrix__text"> •X<sub>2</sub> </span>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <select class="inp-block__select inp-matrix__select">
                                            <option value="above"> ≥ </option>
                                            <option value="below" selected> ≤ </option>
                                        </select>
                                    </td>
                                    <td class="inp-matrix__cell">
                                        <input class="inp-matrix__input input-block__input" type="number" value="" placeholder="B1">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Порахувати</button>
                    </div>
                </form>-->

            </div>
        </div>

        <div class="results-column">
            <div class="results-block">
<!--
                <div class="res-matrix">
                    <p><strong>Матриця результатів:</strong></p>
                    <div class="res-matrix__table-wrapper table-responsive">
                        <table class="table table-striped table-bordered res-matrix__table">
                            <tbody>
                            <tr class="res-matrix__row">
                                <th> </th>
                                <th> X<sub>2</sub> </th>
                                <th> X<sub>7</sub> </th>
                                <th> X<sub>6</sub> </th>
                                <th> X<sub>4</sub> </th>
                                <th> Базис </th>
                            </tr>
                            <tr>
                                <th> X<sub>5</sub> </th>
                                <td>
                                    <span class="matrix-result-cell"> 6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.3 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.2 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 6.6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> -1.9 </span>
                                </td>
                            </tr>
                            <tr>
                                <th> X<sub>3</sub> </th>
                                <td>
                                    <span class="matrix-result-cell"> 6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.3 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.2 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 6.6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> -1.9 </span>
                                </td>
                            </tr>
                            <tr>
                                <th> X<sub>1</sub> </th>
                                <td>
                                    <span class="matrix-result-cell"> 6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.3 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.2 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 6.6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> -1.9 </span>
                                </td>
                            </tr>
                            <tr>
                                <th>F</th>
                                <td>
                                    <span class="matrix-result-cell"> 6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.3 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 0.2 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> 6.6 </span>
                                </td>
                                <td>
                                    <span class="matrix-result-cell"> -1.9 </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
-->
                <h3 class="gantt-chrt-heading"> Діаграма послідовності обробки деталей </h3>
                <div class="gantt-chart-container"></div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="navbar navbar-default">
            <p class="text-center footer__navbar-text">
                <a href="https://vk.com/id52117585" class="navbar-link">Шевченко Олександр</a>
                &copy; 2016
            </p>
        </div>
    </footer>
</div>

<script type="text/javascript" src="../../resources/scripts/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="../../resources/scripts/d3.v3.min.js"></script>
<script type="text/javascript" src="../../resources/scripts/gantt_chart.js"></script>
<script type="text/javascript" src="../../resources/scripts/main.js"></script>
</body>
</html>