.gantt-chart-container {
    position: relative;
    width: 900px;
    height: 500px;
}

.svg {
    width:800px;
    height:400px;
    overflow: visible;
    position:absolute;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}


.gantt-chart-stripe {

}

.gantt-chart-stripe-label {
    font-style: italic;
}

.gantt-chart-row-label {
    font-size: 1em;
    font-weight: bold;
}

.gantt-chart-row {
    fill: white;
    opacity: 0.1;
}


.gantt-chart-tooltip {
    color: white;
  /*  background: #FA283D;  */
    background: #2c3e50;
    width: 150px;
    position: absolute;
  /*  display: none;    */
    padding:3px 6px;
    margin-left: -80px;
    font-size: 11px;
}

.gantt-chart-tooltip:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
    border-width: 10px;
    border-bottom-color: #2c3e50 /*#FA283D*/;
    top: -20px;
}

.gantt-chart-tooltip__title-field {
    width: 5em;
    display: inline-block;
    /* text-align: right; */
    margin-right: 5px;
}